*
{
    box-sizing: border-box;
}

@font-face 
{
    font-family: "MyriadPro-Light";
    src: url("../fonts/MyriadPro/MyriadPro-Light.woff") format("woff"),
         url("../fonts/MyriadPro/MyriadPro-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face 
{
    font-family: "MyriadPro-Regular";
    src: url("../fonts/MyriadPro/MyriadPro-Regular.woff") format("woff"),
         url("../fonts/MyriadPro/MyriadPro-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face 
{
    font-family: "MyriadPro-Semibold";
    src: url("../fonts/MyriadPro/MyriadPro-Semibold.woff") format("woff"),
         url("../fonts/MyriadPro/MyriadPro-Semibold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}  

@font-face 
{
    font-family: "MyriadPro-Bold";
    src: url("../fonts/MyriadPro/MyriadPro-Bold.woff") format("woff"),
         url("../fonts/MyriadPro/MyriadPro-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face 
{
    font-family: "MyriadPro-Black";
    src: url("../fonts/MyriadPro/MyriadPro-Black.woff") format("woff"),
         url("../fonts/MyriadPro/MyriadPro-Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
}

body{
    font-family: "MyriadPro-Regular", sans-serif;
    min-width: 320px;
    background-color:white;
    color:rgb(69, 65, 62);
    margin: 0px;
    padding: 0px;
}

header{
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    padding: 0px;
    box-shadow: 0 -15px 40px 0px rgba(0, 0, 1, 0.6);
}

.logo{
    width: 20%;
}

.logo img{
    width: 100%;
}

ul
{
    padding: 0px;
}

nav li{
    position: relative;
    display: inline-flex;
    color:rgb(69, 65, 62);
    font-size: 16px;
    font-family: sans-serif;
    text-transform: capitalize;
    transition: 0.6s;
    margin: 0;
}

nav li a{
    text-decoration: none;
    color: rgb(69, 65, 62);
    transition: 0.6s;
    padding: 0 10px;
    text-align: center;
    vertical-align: middle;
    background: #ffffff;
}

@media(min-width:1024px){
    nav>ul:hover>li>a {
        filter: blur(5px);
    }

    nav>ul:hover>li>a:hover {
        display: inline-block;
        font-size: 16px;
        filter: blur(0px);
        transform: scale(1.1);
    }

    nav>ul>li:hover .dropmenu {
        display: block;
    }
}

.dropmenu {
    display: none;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(255, 255, 255);
    padding: 10px 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border-radius: 7px;
    width: 200px;
    z-index: 10;
    opacity: 1;
    text-decoration: none;
    text-align: center;
    filter: none;
}

.dropmenu li{
    display: block;
    margin-bottom: 15px;
    filter: blur(none);
    border: 1;
}

.header-action{
    display: flex;
    background-color: rgb(255, 255, 255);
    padding: 10px 10px;
    box-shadow: 0 0px 5px rgba(0, 0, 1, 0.6);
    border-radius: 50px;
    width: 150px;
    justify-content: space-around;
    align-items: center;
}

.header-action a {
    display: block;
    width: 30px;
}

.header-action a img {
   width: 100%;
}

.modal-search{
    display: none;
    background-color: #fff;
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.modal{
    width: 50%;
    height: 500px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 50px;
}
.modal-title{
    text-align: center;
}
.modal-search-form input{
    width: 100%;
    height: 50px;
    padding-left: 20px;
    font-size: 20px;
}
.modal-close{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20%;
    cursor: pointer;
    text-align: center;
    font-size: 22px;
}
.arrow-dropmenu{
    display: none;
}
.header-menu-close{
    display: none;
}
@media(max-width:1024px){
    .modal{
        width: 100%;
    }
    .header-menu {
        display: none;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        overflow-y: auto;
        background-color: #fff;
    }
    .header-menu li{
        display: block;
        text-align: center;
        margin-bottom: 15px;
    }
    .dropmenu{
        
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: auto;
        margin-right: auto;
        position: static;
        transform: none;
        display: none;
    }
    .arrow-dropmenu {
        display: inline;
        transform: rotate(90deg);
    }
    .header-menu-close {
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 1;
    }
}

.horsecare{
    width: 369px;
    height: 281.35px;
    margin: 0px 0px 25px 0px;
}
.horsecare img{
    width: 100%;
}
h2{
    font-size: 48;
    /* font-family: sans-serif; */
    font-family: "Inter", sans-serif; 
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.horse-image
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

article
{
    margin: 25px 10px 25px 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.link-to-article
{
    text-decoration: none;
    color:rgb(69, 65, 62);
}

.horsecare-article{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.horsecare-article .slick-next{
    width: 100px;
    height: 100px;
    background:url(../image/ArrowR.png) no-repeat;
}

.horsecare-article .slick-next::before{
    display: none;
    content:'';
}

.horsecare-article .slick-prev{
    width: 100px;
    height: 100px;
    background:url(../image/ArrowL.png) no-repeat;
    z-index: 3;
}


.horsecare-article .slick-prev::before{
    display: none;
    content:'';
}

@media(max-width:736px){
    .horsecare{
        width: 100%;
        height: auto;
    }
}